<!Doctype html>
<html lang="en">
<head>
    <title>Current Weather</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
</head>
<body ng-app="WeatherTable" ng-keypress="checkEnter($event)">
    <div class="row">
        <div class="col-md-12 text-center"><br/>
            <h1>Search for a city to see the current weather conditions.</h1>
            <div id="bloodhound">
                <input class="typeahead" style="margin:0px auto;width:300px;" type="text" placeholder="Seach for a city">
            </div>
            <div ng-controller="TableController">
                <p id="output">Search for a city</p>
                <button id="searchButton" ng-click="search()">Seach</button><br><br>
                <div class="padding">
                    <table class="table table-bordered">
                        <tr>
                            <th id="city">City
                                <span ng-click="sortDescend($event)" class="arrow-up" id="city-up"></span>
                                <span ng-click="sortAscend($event)" class="arrow-down" id="city-down"></span>
                            </th>
                            <th id="temp">Temperature
                                <span ng-click="sortDescend($event)" class="arrow-up" id="temp-up"></span>
                                <span ng-click="sortAscend($event)" class="arrow-down" id="temp-down"></span>
                            </th>
                            <th id="pressure">Pressure
                                <span ng-click="sortDescend($event)" class="arrow-up" id="press-up"></span>
                                <span ng-click="sortAscend($event)" class="arrow-down" id="press-down"></span>
                            </th>
                            <th id="humidity">Humidity
                                <span ng-click="sortDescend($event)" class="arrow-up" id="humid-up"></span>
                                <span ng-click="sortAscend($event)" class="arrow-down" id="humid-down"></span>
                            </th>
                            <th id="time">Time</th>
                        </tr>
                        <tr ng-repeat="x in cities">
                            <td>{{ x.name }} <span ng-click="deleteItem($index)">&times;</span></td>
                            <td>{{ x.temp }} &#8451;</td>
                            <td>{{ x.pressure }} hPa</td>
                            <td>{{ x.humidity }} %</td>
                            <td>{{ x.time }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--<div id = "tableDiv">
                <table class="center"><tr><th id="city">City</th><th id="temp">Temperature</th><th id="time">Time</th></tr></table>
            </div>-->
        </div>
    </div>

    <script type="text/javascript" src="/JS/events.js"></script>
</body>
</html>
